<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
        xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
        data-namespace-typo3-fluid="true">
<f:layout name="Module" />
<f:section name="Content">
    <f:be.pageRenderer
        includeJsFiles="{0: 'EXT:oauth2_client/Resources/Public/JavaScript/register.js' }"
    />
    <h1>
        <f:translate key="LLL:EXT:oauth2_client/Resources/Private/Language/locallang_be.xlf:overview.title" />
    </h1>

    <f:if condition="{providers}">
        <f:then>
            <div class="card-container">
                <f:for each="{providers}" as="provider" key="identifier">
                    <f:render section="Item" arguments="{provider: provider, identifier: identifier, activeProviders: activeProviders}" />
                </f:for>
            </div>

            <form
                action="{f:be.uri(route:'oauth2_registration_verify', parameters:'{action: \'save\'}')}"
                method="post"
                enctype="multipart/form-data"
                name="edit"
                id="oauth2-authorize"
            >
                <input type="hidden" name="oauth2-state" id="oauth2-state" value="" />
                <input type="hidden" name="oauth2-code" id="oauth2-code" value="" />
                <input type="hidden" name="oauth2-provider" id="oauth2-provider" value="" />
            </form>
        </f:then>
        <f:else>
            <f:translate key="LLL:EXT:oauth2_client/Resources/Private/Language/locallang_be.xlf:oauth2Providers.notAvailable" />
        </f:else>
    </f:if>
</f:section>


<f:section name="Item">
    <f:variable name="providerLabel" value ="{f:translate(key: provider.label, default: provider.label)}" />
    <f:variable name="providerIsActive" value ="{f:if(condition: '{activeProviders.{provider.identifier}.uid}', then: 1, else: 0)}" />

    <div class="card card-size-fixed-small" id="{identifier}-provider">
        <div class="card-header">
            <div class="card-icon">
                <core:icon identifier="{provider.iconIdentifier}" size="large" />
            </div>
            <div class="card-header-body">
                <h1 class="card-title">
                    {providerLabel} <br />

                    <f:if condition="{providerIsActive}">
                        <f:then>
                            <span class="badge badge-success">
                                <f:translate key="LLL:EXT:oauth2_client/Resources/Private/Language/locallang_be.xlf:overview.badge.active" />
                            </span>
                        </f:then>
                        <f:else>
                            <span class="badge badge-info">
                                <f:translate key="LLL:EXT:oauth2_client/Resources/Private/Language/locallang_be.xlf:overview.badge.inactive" />
                            </span>
                        </f:else>
                    </f:if>
                </h1>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">
                <f:if condition="{provider.description}"><f:translate key="{provider.description}" default="{provider.description}" /></f:if>
            </p>
        </div>
        <div class="card-footer">
            <f:if condition="{providerIsActive}">
                <f:then>
                    <a
                        href="{be:moduleLink(route:'tce_db', query:'cmd[tx_oauth2_beuser_provider_configuration][{activeProviders.{provider.identifier}.uid}][delete]=1', currentUrlParameterName:'redirect')}"
                        class="btn btn-danger t3js-modal-trigger"
                        title="{f:translate(key:'LLL:EXT:oauth2_client/Resources/Private/Language/locallang_be.xlf:overview.deactivateLinkTitle', arguments: {0: providerLabel})}"
                        data-title="{f:translate(key:'LLL:EXT:oauth2_client/Resources/Private/Language/locallang_be.xlf:buttons.deactivateProvider', arguments: {0: providerLabel})}"
                        data-bs-content="{f:translate(key:'LLL:EXT:oauth2_client/Resources/Private/Language/locallang_be.xlf:buttons.deactivateProvider.confirmation.text', arguments: {0: providerLabel})}"
                    >
                        <core:icon identifier="actions-toggle-on" />
                        <f:translate key="LLL:EXT:oauth2_client/Resources/Private/Language/locallang_be.xlf:overview.deactivateLinkLabel" />
                    </a>
                </f:then>
                <f:else>
                    <button
                        data-oauth2-provider="{f:be.uri(route:'oauth2_registration_authorize', parameters:'{action: \'authorize\', oauth2-provider: provider.identifier}', referenceType: 'url')}"
                        class="btn btn-success"
                        title="{f:translate(key:'LLL:EXT:oauth2_client/Resources/Private/Language/locallang_be.xlf:overview.activateLinkTitle', arguments: {0: providerLabel})}"
                    >
                        <core:icon identifier="actions-toggle-off" />
                        <f:translate key="LLL:EXT:oauth2_client/Resources/Private/Language/locallang_be.xlf:overview.activateLinkLabel" />
                    </button>
                </f:else>
            </f:if>
        </div>
    </div>
</f:section>

</html>
