<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Login" />

<f:section name="loginFormFields">
    <style>#t3-login-submit {display:none !important;}</style>
    <div class="form-group">
        <div class="input-group">
            <f:if condition="{providers}">
                <f:then>
                    <f:for each="{providers}" as="provider">
                        <button type="submit" class="btn btn-block btn-login" name="oauth2-provider" value="{provider.identifier}">
                            <core:icon identifier="{provider.iconIdentifier}" size="default"/> <f:translate key="{provider.label}" default="{provider.label}" />
                        </button>
                    </f:for>
                </f:then>
                <f:else>
                    <f:translate key="LLL:EXT:oauth2_client/Resources/Private/Language/locallang_be.xlf:oauth2Providers.notAvailable" />
                </f:else>
            </f:if>
        </div>
    </div>
</f:section>

</html>
